
<div id="about_us" class="container">
  <div class="about_us">
    <h2>О нас</h2>
    <p>Грузию можно назвать 8 чудом света. С нашей компанией вы сможете охватить все ее красоты. Прокат машины от компании Car Rent - это значит комфортный отдых без проблем. Все наши машины застрахованы и исправны. Так же у нас ведется круглосуточная техподдержка. Вы можете взять машину сами или заказать услугу "машина с водителем". Машина по вашему желанию будет доставлена в любое время и в любую точку Тбилиси и Батуми. Наш автопарк имеет машины на все случаи жизни.</p>
    <p>Если вам нужно много ездить по городу, мы предлагаем вам Toyota Prius Hybrid. Эта самая экономичная машина в мире. Ее расход топлива 4 литра.</p>
    <p>Если вы хотите посетить все укромные места Грузии, с ее горами и реками, мы предлагаем самую проходимую Mitsubishi Delica. Ее проходимости нет придела.</p>
    <p>Если вы заказываете Subaru Forester 4x4, значит вы знаете способности этой машины, превосходящие по проходимости многие внедорожники. В нашей компании имеются машины и бизнес-класса.</p>
    <p>Воспользовавшись услугами нашей компании, вам останется только наслаждаться гостеприимством Грузии.</p>
  </div>
</div>