
<div id="about_us" class="container">
  <div class="about_us">
    <h2>About us</h2>
    <p>Georgia may be called the 8 miracles of the world. Our company will help you cover all her beauty. Renting  a car from the company<b> Car Rent</b> - means comfortable rest without problems. All our cars are insured and operating. We provide 24/7 technical support. You may take the car yourself or order a<b> "car with a driver" service.</b> The car will be delivered at any time to any point in Tbilisi and Batumi. Our fleet provides cars for all occasions.</p>
    <p>If you need a lot of driving around the city, we offer you a<b> Toyota Prius Hybrid.</b> This is the most economical car in the world. Its fuel consumption is 4 liters.</p>
    <p>If you want to visit all the secluded places of Georgia, with its mountains and rivers, we offer the most passable<b> Mitsubishi Delica.</b> There is no room for her passage.</p>
    <p>If you order a<b> Subaru Forester 4x4</b>, then you know the abilities of this car that surpasses many off-road cars. Our company has cars and business class.</p>
    <p>By taking advantage of the services of our company, you will only have to enjoy the hospitality of Georgia.</p>
  </div>
</div>