
<div id="gallery" class="container gallery-list">
  <div class="row">
    <div class="col-xs-12">
      <h2>Гараж</h2>
    </div>
    <div class="col-xs-12">
      <h3 class="gallery-list__heading">Эконом класс</h3>
    </div>
    <div class="col-xs-12 col-md-6 col-lg-6">
      <div data-id="1" class="gallery-list__env">
        <div class="gallery-list__item"><img src="../img/toyota_prius_2011.jpg" alt="prius" class="gallery-list__img"/>
          <div class="gallery-list__nameCar">
            <h4>Toyota Prius</h4>
          </div>
          <div class="gallery-list__overlay"></div>
          <div class="overlay__info"><i class="fa fa-eye i-eye"></i></div>
        </div>
        <div class="btn-buy"><a href="#" data-remodal-target="form-modal" class="gallery-list__btn">Заказать</a><span>от 30 долл/день</span></div>
      </div>
    </div>
    <div class="col-xs-12 col-md-6 col-lg-6">
      <div data-id="2" class="gallery-list__env">
        <div class="gallery-list__item"><img src="../img/opel_corsa_2008.jpg" alt="corsa" class="gallery-list__img"/>
          <div class="gallery-list__nameCar">
            <h4>Opel Corsa</h4>
          </div>
          <div class="gallery-list__overlay"></div>
          <div class="overlay__info"><i class="fa fa-eye i-eye"></i></div>
        </div>
        <div class="btn-buy"><a href="#" data-remodal-target="form-modal" class="gallery-list__btn">Заказать</a><span>от 25 долл/день</span></div>
      </div>
    </div>
    <div class="col-xs-12">
      <h3 class="gallery-list__heading">Экстрим</h3>
    </div>
    <div class="col-xs-12 col-md-6 col-lg-6">
      <div data-id="3" class="gallery-list__env">
        <div class="gallery-list__item"><img src="../img/mitsu_delica_2003.jpg" alt="delica" class="gallery-list__img"/>
          <div class="gallery-list__nameCar">
            <h4>Mitsubishi Delica</h4>
          </div>
          <div class="gallery-list__overlay"></div>
          <div class="overlay__info"><i class="fa fa-eye i-eye"></i></div>
        </div>
        <div class="btn-buy"><a href="#" data-remodal-target="form-modal" class="gallery-list__btn">Заказать</a><span>от 55 долл/день</span></div>
      </div>
    </div>
    <div class="col-xs-12 col-md-6 col-lg-6">
      <div data-id="4" class="gallery-list__env">
        <div class="gallery-list__item"><img src="../img/suzuki_samurai_2004.jpg" alt="samurai" class="gallery-list__img"/>
          <div class="gallery-list__nameCar">
            <h4>Suzuki Samurai</h4>
          </div>
          <div class="gallery-list__overlay"></div>
          <div class="overlay__info"><i class="fa fa-eye i-eye"></i></div>
        </div>
        <div class="btn-buy"><a href="#" data-remodal-target="form-modal" class="gallery-list__btn">Заказать</a><span>от 30 долл/день</span></div>
      </div>
    </div>
    <div class="col-xs-12">
      <h3 class="gallery-list__heading">4 x 4</h3>
    </div>
    <div class="col-xs-12 col-md-6 col-lg-6">
      <div data-id="5" class="gallery-list__env">
        <div class="gallery-list__item"><img src="../img/subaru_forester_2006.jpg" alt="forester" class="gallery-list__img"/>
          <div class="gallery-list__nameCar">
            <h4>Subaru Forester</h4>
          </div>
          <div class="gallery-list__overlay"></div>
          <div class="overlay__info"><i class="fa fa-eye i-eye"></i></div>
        </div>
        <div class="btn-buy"><a href="#" data-remodal-target="form-modal" class="gallery-list__btn">Заказать</a><span>от 35 долл/день</span></div>
      </div>
    </div>
    <div class="col-xs-12 col-md-6 col-lg-6">
      <div data-id="6" class="gallery-list__env">
        <div class="gallery-list__item"><img src="../img/mitsu_pajero_2003.jpg" alt="pajero" class="gallery-list__img"/>
          <div class="gallery-list__nameCar">
            <h4>Mitsubishi Pajero</h4>
          </div>
          <div class="gallery-list__overlay"></div>
          <div class="overlay__info"><i class="fa fa-eye i-eye"></i></div>
        </div>
        <div class="btn-buy"><a href="#" data-remodal-target="form-modal" class="gallery-list__btn">Заказать</a><span>от 35 долл/день</span></div>
      </div>
    </div>
    <div class="col-xs-12">
      <h3 class="gallery-list__heading">минивэн</h3>
    </div>
    <div class="col-xs-12 col-md-6 col-lg-6">
      <div data-id="9" class="gallery-list__env">
        <div class="gallery-list__item"><img src="../img/mersedes-vito-2010.jpg" alt="vito" class="gallery-list__img"/>
          <div class="gallery-list__nameCar">
            <h4>Mercedes Vito</h4>
          </div>
          <div class="gallery-list__overlay"></div>
          <div class="overlay__info"><i class="fa fa-eye i-eye"></i></div>
        </div>
        <div class="btn-buy"><a href="#" data-remodal-target="form-modal" class="gallery-list__btn">Заказать</a><span>от 85 долл/день</span></div>
      </div>
    </div>
    <div class="col-xs-12 col-md-6 col-lg-6">
      <div data-id="10" class="gallery-list__env">
        <div class="gallery-list__item"><img src="../img/fiat-scudo-2010.jpg" alt="scudo" class="gallery-list__img"/>
          <div class="gallery-list__nameCar">
            <h4>Fiat Scudo</h4>
          </div>
          <div class="gallery-list__overlay"></div>
          <div class="overlay__info"><i class="fa fa-eye i-eye"></i></div>
        </div>
        <div class="btn-buy"><a href="#" data-remodal-target="form-modal" class="gallery-list__btn">Заказать</a><span>от 85 долл/день</span></div>
      </div>
    </div>
    <div class="col-xs-12">
      <h3 class="gallery-list__heading">Бизнес Класс</h3>
    </div>
    <div class="col-xs-12 col-md-6 col-lg-6">
      <div data-id="7" class="gallery-list__env">
        <div class="gallery-list__item"><img src="../img/toyota_camty_2012.jpg" alt="camry" class="gallery-list__img"/>
          <div class="gallery-list__nameCar">
            <h4>Toyota Camry</h4>
          </div>
          <div class="gallery-list__overlay"></div>
          <div class="overlay__info"><i class="fa fa-eye i-eye"></i></div>
        </div>
        <div class="btn-buy"><a href="#" data-remodal-target="form-modal" class="gallery-list__btn">Заказать</a><span>от 60 долл/день</span></div>
      </div>
    </div>
    <div class="col-xs-12 col-md-6 col-lg-6">
      <div data-id="8" class="gallery-list__env">
        <div class="gallery-list__item"><img src="../img/honda_accord_2012.jpg" alt="accord" class="gallery-list__img"/>
          <div class="gallery-list__nameCar">
            <h4>Honda Accord</h4>
          </div>
          <div class="gallery-list__overlay"></div>
          <div class="overlay__info"><i class="fa fa-eye i-eye"></i></div>
        </div>
        <div class="btn-buy"><a href="#" data-remodal-target="form-modal" class="gallery-list__btn">Заказать</a><span>от 60 долл/день</span></div>
      </div>
    </div>
    <!-- Gallery Modal-->
    <div data-id="1" class="gallery-modal">
      <div class="description-envelope"><a href="#" data-remodal-action="close" class="i-close"><i class="fa fa-close"></i></a>
        <div class="description-envelope__img-scale"><img src="/" alt="cars-modal" class="description-envelope__img"/>
          <div class="gallery-modal__info-sub">
            <ul class="info-sub-list">
              <li class="info-sub-list__item">1-3 суток</li>
              <li class="info-sub-list__item">4-7 суток</li>
              <li class="info-sub-list__item">8-30 суток</li>
            </ul>
            <ul class="info-sub-list">
              <li class="info-sub-list__item item-bg cl-picker">40<i class="fa fa-usd i-eur"></i></li>
              <li class="info-sub-list__item item-bg cl-picker">35<i class="fa fa-usd i-eur"></i></li>
              <li class="info-sub-list__item item-bg cl-picker">30<i class="fa fa-usd i-eur"></i></li>
            </ul>
          </div>
        </div>
        <div class="description-list">
          <h4 class="description-list__heading">Toyota Prius Hybrid System</h4>
          <ul>
            <li class="description-list__item">
              <p>Кузов:</p><span>Хетчбек</span>
            </li>
            <li class="description-list__item">
              <p>Объем двигателя:</p><span>1.79</span>
            </li>
            <li class="description-list__item">
              <p>Мощность:</p><span>136 л.с</span>
            </li>
            <li class="description-list__item">
              <p>Тип топлева:</p><span>Гибрид</span>
            </li>
            <li class="description-list__item">
              <p>КПП:</p><span>Автомат</span>
            </li>
            <li class="description-list__item">
              <p>Количество мест:</p><span>5</span>
            </li>
            <li class="description-list__item">
              <p>Количество дверей:</p><span>5</span>
            </li>
            <li class="description-list__item">
              <p>Расход литров на 100 км:</p><span>3.9 л</span>
            </li>
            <li class="description-list__item">
              <p>Класс автомобиля:</p><span>C</span>
            </li>
            <li class="description-list__item">
              <p>Объем топливного бака:</p><span>45 л</span>
            </li>
            <li class="description-list__item">
              <p>Разгон до 100 км/ч:</p><span>10.4 с</span>
            </li>
            <li class="description-list__item">
              <p>Максимальная скорость, км/ч:</p><span>180</span>
            </li>
            <li class="description-list__item">
              <p>Положение руля:</p><span>Слева</span>
            </li>
            <li class="description-list__item">
              <p>Страна производитель:</p><span>Япония</span>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div data-id="2" class="gallery-modal">
      <div class="description-envelope"><a href="#" data-remodal-action="close" class="i-close"><i class="fa fa-close"></i></a>
        <div class="description-envelope__img-scale"><img src="/" alt="cars-modal" class="description-envelope__img"/>
          <div class="gallery-modal__info-sub">
            <ul class="info-sub-list">
              <li class="info-sub-list__item">1-3 суток</li>
              <li class="info-sub-list__item">4-7 суток</li>
              <li class="info-sub-list__item">8-30 суток</li>
            </ul>
            <ul class="info-sub-list">
              <li class="info-sub-list__item item-bg cl-picker">35<i class="fa fa-usd i-eur"></i></li>
              <li class="info-sub-list__item item-bg cl-picker">30<i class="fa fa-usd i-eur"></i></li>
              <li class="info-sub-list__item item-bg cl-picker">25<i class="fa fa-usd i-eur"></i></li>
            </ul>
          </div>
        </div>
        <div class="description-list">
          <h4 class="description-list__heading">Opel Corsa</h4>
          <ul>
            <li class="description-list__item">
              <p>Кузов:</p><span>Хетчбек</span>
            </li>
            <li class="description-list__item">
              <p>Объем двигателя:</p><span>1.2</span>
            </li>
            <li class="description-list__item">
              <p>Мощность:</p><span>75 л.с</span>
            </li>
            <li class="description-list__item">
              <p>Тип топлева:</p><span>Дизель</span>
            </li>
            <li class="description-list__item">
              <p>КПП:</p><span>Автомат</span>
            </li>
            <li class="description-list__item">
              <p>Количество мест:</p><span>5</span>
            </li>
            <li class="description-list__item">
              <p>Количество дверей:</p><span>5</span>
            </li>
            <li class="description-list__item">
              <p>Расход литров на 100 км:</p><span>5.7 л</span>
            </li>
            <li class="description-list__item">
              <p>Класс автомобиля:</p><span>B</span>
            </li>
            <li class="description-list__item">
              <p>Объем топливного бака:</p><span>45 л</span>
            </li>
            <li class="description-list__item">
              <p>Разгон до 100 км/ч:</p><span>14.5 с</span>
            </li>
            <li class="description-list__item">
              <p>Максимальная скорость, км/ч:</p><span>163</span>
            </li>
            <li class="description-list__item">
              <p>Положение руля:</p><span>Слева</span>
            </li>
            <li class="description-list__item">
              <p>Страна производитель:</p><span>Испания</span>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div data-id="3" class="gallery-modal">
      <div class="description-envelope"><a href="#" data-remodal-action="close" class="i-close"><i class="fa fa-close"></i></a>
        <div class="description-envelope__img-scale"><img src="/" alt="cars-modal" class="description-envelope__img"/>
          <div class="gallery-modal__info-sub">
            <ul class="info-sub-list">
              <li class="info-sub-list__item">1-3 суток</li>
              <li class="info-sub-list__item">4-7 суток</li>
              <li class="info-sub-list__item">8-30 суток</li>
            </ul>
            <ul class="info-sub-list">
              <li class="info-sub-list__item item-bg cl-picker">65<i class="fa fa-usd i-eur"></i></li>
              <li class="info-sub-list__item item-bg cl-picker">60<i class="fa fa-usd i-eur"></i></li>
              <li class="info-sub-list__item item-bg cl-picker">55<i class="fa fa-usd i-eur"></i></li>
            </ul>
          </div>
        </div>
        <div class="description-list">
          <h4 class="description-list__heading">Mitshubishi Delica</h4>
          <ul>
            <li class="description-list__item">
              <p>Кузов:</p><span>Минивэн</span>
            </li>
            <li class="description-list__item">
              <p>Объем двигателя:</p><span>2.3</span>
            </li>
            <li class="description-list__item">
              <p>Мощность:</p><span>122 л.с</span>
            </li>
            <li class="description-list__item">
              <p>Тип топлева:</p><span>Бензин А-92</span>
            </li>
            <li class="description-list__item">
              <p>КПП:</p><span>Автомат</span>
            </li>
            <li class="description-list__item">
              <p>Количество мест:</p><span>6</span>
            </li>
            <li class="description-list__item">
              <p>Количество дверей:</p><span>4</span>
            </li>
            <li class="description-list__item">
              <p>Расход литров на 100 км:</p><span>10 л</span>
            </li>
            <li class="description-list__item">
              <p>Класс автомобиля:</p><span>M</span>
            </li>
            <li class="description-list__item">
              <p>Объем топливного бака:</p><span>66 л</span>
            </li>
            <li class="description-list__item">
              <p>Разгон до 100 км/ч:</p><span>14.5 с</span>
            </li>
            <li class="description-list__item">
              <p>Максимальная скорость, км/ч:</p><span>150</span>
            </li>
            <li class="description-list__item">
              <p>Положение руля:</p><span>Справа</span>
            </li>
            <li class="description-list__item">
              <p>Страна производитель:</p><span>Япония</span>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div data-id="4" class="gallery-modal">
      <div class="description-envelope"><a href="#" data-remodal-action="close" class="i-close"><i class="fa fa-close"></i></a>
        <div class="description-envelope__img-scale"><img src="/" alt="cars-modal" class="description-envelope__img"/>
          <div class="gallery-modal__info-sub">
            <ul class="info-sub-list">
              <li class="info-sub-list__item">1-3 суток</li>
              <li class="info-sub-list__item">4-7 суток</li>
              <li class="info-sub-list__item">8-30 суток</li>
            </ul>
            <ul class="info-sub-list">
              <li class="info-sub-list__item item-bg cl-picker">40<i class="fa fa-usd i-eur"></i></li>
              <li class="info-sub-list__item item-bg cl-picker">35<i class="fa fa-usd i-eur"></i></li>
              <li class="info-sub-list__item item-bg cl-picker">30<i class="fa fa-usd i-eur"></i></li>
            </ul>
          </div>
        </div>
        <div class="description-list">
          <h4 class="description-list__heading">Suzuki Samurai</h4>
          <ul>
            <li class="description-list__item">
              <p>Кузов:</p><span>Внедорожник</span>
            </li>
            <li class="description-list__item">
              <p>Объем двигателя:</p><span>1.9</span>
            </li>
            <li class="description-list__item">
              <p>Мощность:</p><span>63 л.с</span>
            </li>
            <li class="description-list__item">
              <p>Тип топлева:</p><span>Дизель</span>
            </li>
            <li class="description-list__item">
              <p>КПП:</p><span>Автомат</span>
            </li>
            <li class="description-list__item">
              <p>Количество мест:</p><span>4</span>
            </li>
            <li class="description-list__item">
              <p>Количество дверей:</p><span>3</span>
            </li>
            <li class="description-list__item">
              <p>Расход литров на 100 км:</p><span>9.83 л</span>
            </li>
            <li class="description-list__item">
              <p>Класс автомобиля:</p><span>J (кроссовер)</span>
            </li>
            <li class="description-list__item">
              <p>Объем топливного бака:</p><span>40 л</span>
            </li>
            <li class="description-list__item">
              <p>Разгон до 100 км/ч:</p><span>22.5 с</span>
            </li>
            <li class="description-list__item">
              <p>Максимальная скорость, км/ч:</p><span>130</span>
            </li>
            <li class="description-list__item">
              <p>Положение руля:</p><span>Слева</span>
            </li>
            <li class="description-list__item">
              <p>Страна производитель:</p><span>Япония</span>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div data-id="5" class="gallery-modal">
      <div class="description-envelope"><a href="#" data-remodal-action="close" class="i-close"><i class="fa fa-close"></i></a>
        <div class="description-envelope__img-scale"><img src="/" alt="cars-modal" class="description-envelope__img"/>
          <div class="gallery-modal__info-sub">
            <ul class="info-sub-list">
              <li class="info-sub-list__item">1-3 суток</li>
              <li class="info-sub-list__item">4-7 суток</li>
              <li class="info-sub-list__item">8-30 суток</li>
            </ul>
            <ul class="info-sub-list">
              <li class="info-sub-list__item item-bg cl-picker">45<i class="fa fa-usd i-eur"></i></li>
              <li class="info-sub-list__item item-bg cl-picker">40<i class="fa fa-usd i-eur"></i></li>
              <li class="info-sub-list__item item-bg cl-picker">35<i class="fa fa-usd i-eur"></i></li>
            </ul>
          </div>
        </div>
        <div class="description-list">
          <h4 class="description-list__heading">Subaru Forester</h4>
          <ul>
            <li class="description-list__item">
              <p>Кузов:</p><span>Внедорожник</span>
            </li>
            <li class="description-list__item">
              <p>Объем двигателя:</p><span>1.9</span>
            </li>
            <li class="description-list__item">
              <p>Мощность:</p><span>158 л.с</span>
            </li>
            <li class="description-list__item">
              <p>Тип топлева:</p><span>Бензин АИ-95</span>
            </li>
            <li class="description-list__item">
              <p>КПП:</p><span>Механика/Автомат</span>
            </li>
            <li class="description-list__item">
              <p>Количество мест:</p><span>5</span>
            </li>
            <li class="description-list__item">
              <p>Количество дверей:</p><span>5</span>
            </li>
            <li class="description-list__item">
              <p>Расход литров на 100 км:</p><span>12.3 л</span>
            </li>
            <li class="description-list__item">
              <p>Класс автомобиля:</p><span>J (кроссовер)</span>
            </li>
            <li class="description-list__item">
              <p>Объем топливного бака:</p><span>60 л</span>
            </li>
            <li class="description-list__item">
              <p>Разгон до 100 км/ч:</p><span>9.7 с</span>
            </li>
            <li class="description-list__item">
              <p>Максимальная скорость, км/ч:</p><span>197</span>
            </li>
            <li class="description-list__item">
              <p>Положение руля:</p><span>Слева</span>
            </li>
            <li class="description-list__item">
              <p>Страна производитель:</p><span>Япония</span>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div data-id="6" class="gallery-modal">
      <div class="description-envelope"><a href="#" data-remodal-action="close" class="i-close"><i class="fa fa-close"></i></a>
        <div class="description-envelope__img-scale"><img src="/" alt="cars-modal" class="description-envelope__img"/>
          <div class="gallery-modal__info-sub">
            <ul class="info-sub-list">
              <li class="info-sub-list__item">1-3 суток</li>
              <li class="info-sub-list__item">4-7 суток</li>
              <li class="info-sub-list__item">8-30 суток</li>
            </ul>
            <ul class="info-sub-list">
              <li class="info-sub-list__item item-bg cl-picker">45<i class="fa fa-usd i-eur"></i></li>
              <li class="info-sub-list__item item-bg cl-picker">40<i class="fa fa-usd i-eur"></i></li>
              <li class="info-sub-list__item item-bg cl-picker">35<i class="fa fa-usd i-eur"></i></li>
            </ul>
          </div>
        </div>
        <div class="description-list">
          <h4 class="description-list__heading">Mitsubishi Pajero</h4>
          <ul>
            <li class="description-list__item">
              <p>Кузов:</p><span>Внедорожник</span>
            </li>
            <li class="description-list__item">
              <p>Объем двигателя:</p><span>2.9</span>
            </li>
            <li class="description-list__item">
              <p>Мощность:</p><span>178 л.с</span>
            </li>
            <li class="description-list__item">
              <p>Тип топлева:</p><span>Бензис АИ-95</span>
            </li>
            <li class="description-list__item">
              <p>КПП:</p><span>Механика/Автомат</span>
            </li>
            <li class="description-list__item">
              <p>Количество мест:</p><span>5/7</span>
            </li>
            <li class="description-list__item">
              <p>Количество дверей:</p><span>5</span>
            </li>
            <li class="description-list__item">
              <p>Расход литров на 100 км:</p><span>15.8 л</span>
            </li>
            <li class="description-list__item">
              <p>Класс автомобиля:</p><span>J (кроссовер)</span>
            </li>
            <li class="description-list__item">
              <p>Объем топливного бака:</p><span>88 л</span>
            </li>
            <li class="description-list__item">
              <p>Разгон до 100 км/ч:</p><span>13.6 с</span>
            </li>
            <li class="description-list__item">
              <p>Максимальная скорость, км/ч:</p><span>175</span>
            </li>
            <li class="description-list__item">
              <p>Положение руля:</p><span>Слева</span>
            </li>
            <li class="description-list__item">
              <p>Страна производитель:</p><span>Япония</span>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div data-id="7" class="gallery-modal">
      <div class="description-envelope"><a href="#" data-remodal-action="close" class="i-close"><i class="fa fa-close"></i></a>
        <div class="description-envelope__img-scale"><img src="/" alt="cars-modal" class="description-envelope__img"/>
          <div class="gallery-modal__info-sub">
            <ul class="info-sub-list">
              <li class="info-sub-list__item">1-3 суток</li>
              <li class="info-sub-list__item">4-7 суток</li>
              <li class="info-sub-list__item">8-30 суток</li>
            </ul>
            <ul class="info-sub-list">
              <li class="info-sub-list__item item-bg cl-picker">70<i class="fa fa-usd i-eur"></i></li>
              <li class="info-sub-list__item item-bg cl-picker">65<i class="fa fa-usd i-eur"></i></li>
              <li class="info-sub-list__item item-bg cl-picker">60<i class="fa fa-usd i-eur"></i></li>
            </ul>
          </div>
        </div>
        <div class="description-list">
          <h4 class="description-list__heading">Toyota Camry Hybrid System</h4>
          <ul>
            <li class="description-list__item">
              <p>Кузов:</p><span>Седан</span>
            </li>
            <li class="description-list__item">
              <p>Объем двигателя:</p><span>2.4</span>
            </li>
            <li class="description-list__item">
              <p>Мощность:</p><span>150 л.с</span>
            </li>
            <li class="description-list__item">
              <p>Тип топлева:</p><span>Гибрид</span>
            </li>
            <li class="description-list__item">
              <p>КПП:</p><span>Автомат</span>
            </li>
            <li class="description-list__item">
              <p>Количество мест:</p><span>5</span>
            </li>
            <li class="description-list__item">
              <p>Количество дверей:</p><span>4</span>
            </li>
            <li class="description-list__item">
              <p>Расход литров на 100 км:</p><span>7.8 л</span>
            </li>
            <li class="description-list__item">
              <p>Класс автомобиля:</p><span>Е</span>
            </li>
            <li class="description-list__item">
              <p>Объем топливного бака:</p><span>65 л</span>
            </li>
            <li class="description-list__item">
              <p>Разгон до 100 км/ч:</p><span>9 с</span>
            </li>
            <li class="description-list__item">
              <p>Максимальная скорость, км/ч:</p><span>190</span>
            </li>
            <li class="description-list__item">
              <p>Положение руля:</p><span>Слева</span>
            </li>
            <li class="description-list__item">
              <p>Страна производитель:</p><span>Япония</span>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div data-id="8" class="gallery-modal">
      <div class="description-envelope"><a href="#" data-remodal-action="close" class="i-close"><i class="fa fa-close"></i></a>
        <div class="description-envelope__img-scale"><img src="/" alt="cars-modal" class="description-envelope__img"/>
          <div class="gallery-modal__info-sub">
            <ul class="info-sub-list">
              <li class="info-sub-list__item">1-3 суток</li>
              <li class="info-sub-list__item">4-7 суток</li>
              <li class="info-sub-list__item">8-30 суток</li>
            </ul>
            <ul class="info-sub-list">
              <li class="info-sub-list__item item-bg cl-picker">70<i class="fa fa-usd i-eur"></i></li>
              <li class="info-sub-list__item item-bg cl-picker">65<i class="fa fa-usd i-eur"></i></li>
              <li class="info-sub-list__item item-bg cl-picker">60<i class="fa fa-usd i-eur"></i></li>
            </ul>
          </div>
        </div>
        <div class="description-list">
          <h4 class="description-list__heading">Honda Accord</h4>
          <ul>
            <li class="description-list__item">
              <p>Кузов:</p><span>Седан</span>
            </li>
            <li class="description-list__item">
              <p>Объем двигателя:</p><span>2.3</span>
            </li>
            <li class="description-list__item">
              <p>Мощность:</p><span>185 л.с</span>
            </li>
            <li class="description-list__item">
              <p>Тип топлева:</p><span>Бензин АИ-95</span>
            </li>
            <li class="description-list__item">
              <p>КПП:</p><span>Механика/Автомат</span>
            </li>
            <li class="description-list__item">
              <p>Количество мест:</p><span>5</span>
            </li>
            <li class="description-list__item">
              <p>Количество дверей:</p><span>4</span>
            </li>
            <li class="description-list__item">
              <p>Расход литров на 100 км:</p><span>9.8 л</span>
            </li>
            <li class="description-list__item">
              <p>Класс автомобиля:</p><span>Е</span>
            </li>
            <li class="description-list__item">
              <p>Объем топливного бака:</p><span>65 л</span>
            </li>
            <li class="description-list__item">
              <p>Разгон до 100 км/ч:</p><span>9.4 с</span>
            </li>
            <li class="description-list__item">
              <p>Максимальная скорость, км/ч:</p><span>215</span>
            </li>
            <li class="description-list__item">
              <p>Положение руля:</p><span>Слева</span>
            </li>
            <li class="description-list__item">
              <p>Страна производитель:</p><span>США</span>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div data-id="9" class="gallery-modal">
    <div class="description-envelope"><a href="#" data-remodal-action="close" class="i-close"><i class="fa fa-close"></i></a>
      <div class="description-envelope__img-scale"><img src="/" alt="cars-modal" class="description-envelope__img"/>
        <div class="gallery-modal__info-sub">
          <ul class="info-sub-list">
            <li class="info-sub-list__item">1-3 суток</li>
            <li class="info-sub-list__item">4-7 суток</li>
            <li class="info-sub-list__item">8-30 суток</li>
          </ul>
          <ul class="info-sub-list">
            <li class="info-sub-list__item item-bg cl-picker">95<i class="fa fa-usd i-eur"></i></li>
            <li class="info-sub-list__item item-bg cl-picker">90<i class="fa fa-usd i-eur"></i></li>
            <li class="info-sub-list__item item-bg cl-picker">85<i class="fa fa-usd i-eur"></i></li>
          </ul>
        </div>
      </div>
      <div class="description-list">
        <h4 class="description-list__heading">Mercedes-Benz Vito</h4>
        <ul>
          <li class="description-list__item">
            <p>Кузов:</p><span>Минивэн</span>
          </li>
          <li class="description-list__item">
            <p>Объем двигателя:</p><span>2.1</span>
          </li>
          <li class="description-list__item">
            <p>Мощность:</p><span>88 л.с</span>
          </li>
          <li class="description-list__item">
            <p>Тип топлева:</p><span>Дизель</span>
          </li>
          <li class="description-list__item">
            <p>КПП:</p><span>Механика/Автомат</span>
          </li>
          <li class="description-list__item">
            <p>Количество мест:</p><span>9</span>
          </li>
          <li class="description-list__item">
            <p>Количество дверей:</p><span>4</span>
          </li>
          <li class="description-list__item">
            <p>Расход литров на 100 км:</p><span>12.9 л</span>
          </li>
          <li class="description-list__item">
            <p>Класс автомобиля:</p><span>М</span>
          </li>
          <li class="description-list__item">
            <p>Объем топливного бака:</p><span>75 л</span>
          </li>
          <li class="description-list__item">
            <p>Разгон до 100 км/ч:</p><span>9.4 с</span>
          </li>
          <li class="description-list__item">
            <p>Максимальная скорость, км/ч:</p><span>146</span>
          </li>
          <li class="description-list__item">
            <p>Положение руля:</p><span>Слева</span>
          </li>
          <li class="description-list__item">
            <p>Страна производитель:</p><span>Испания</span>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div data-id="10" class="gallery-modal">
    <div class="description-envelope"><a href="#" data-remodal-action="close" class="i-close"><i class="fa fa-close"></i></a>
      <div class="description-envelope__img-scale"><img src="/" alt="cars-modal" class="description-envelope__img"/>
        <div class="gallery-modal__info-sub">
          <ul class="info-sub-list">
            <li class="info-sub-list__item">1-3 суток</li>
            <li class="info-sub-list__item">4-7 суток</li>
            <li class="info-sub-list__item">8-30 суток</li>
          </ul>
          <ul class="info-sub-list">
            <li class="info-sub-list__item item-bg cl-picker">95<i class="fa fa-usd i-eur"></i></li>
            <li class="info-sub-list__item item-bg cl-picker">90<i class="fa fa-usd i-eur"></i></li>
            <li class="info-sub-list__item item-bg cl-picker">85<i class="fa fa-usd i-eur"></i></li>
          </ul>
        </div>
      </div>
      <div class="description-list">
        <h4 class="description-list__heading">Fiat Scudo</h4>
        <ul>
          <li class="description-list__item">
            <p>Кузов:</p><span>Фургон</span>
          </li>
          <li class="description-list__item">
            <p>Объем двигателя:</p><span>2.1</span>
          </li>
          <li class="description-list__item">
            <p>Мощность:</p><span>165 л.с</span>
          </li>
          <li class="description-list__item">
            <p>Тип топлева:</p><span>Дизель</span>
          </li>
          <li class="description-list__item">
            <p>КПП:</p><span>Механика/Автомат</span>
          </li>
          <li class="description-list__item">
            <p>Количество мест:</p><span>2</span>
          </li>
          <li class="description-list__item">
            <p>Количество дверей:</p><span>6</span>
          </li>
          <li class="description-list__item">
            <p>Расход литров на 100 км:</p><span>8.1 л</span>
          </li>
          <li class="description-list__item">
            <p>Класс автомобиля:</p><span>Грузовой фургон</span>
          </li>
          <li class="description-list__item">
            <p>Объем топливного бака:</p><span>80 л</span>
          </li>
          <li class="description-list__item">
            <p>Разгон до 100 км/ч:</p><span>14.7 с</span>
          </li>
          <li class="description-list__item">
            <p>Максимальная скорость, км/ч:</p><span>170</span>
          </li>
          <li class="description-list__item">
            <p>Положение руля:</p><span>Слева</span>
          </li>
          <li class="description-list__item">
            <p>Страна производитель:</p><span>Франция</span>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <!-- Form Modal-->
  <div data-remodal-id="form-modal" class="form-modal remodal">
    <div class="form-modal__envelope"><a href="#" data-remodal-action="close" class="i-close"><i class="fa fa-close"></i></a>
      <form action="mail.php" method="post" class="form-modal__form">
        <input type="text" name="date" placeholder="Введите дату" data-multiple-dates-separator=" - " required="required" id="date-range" class="form-modal__input"/>
        <input type="text" name="name" placeholder="Введите имя" required="required" class="form-modal__input"/>
        <input type="email" name="email" placeholder="Введите почту" required="required" class="form-modal__input"/>
        <input type="text" name="phone" placeholder="Введите телефон" required="required" class="form-modal__input masked_tel"/>
        <input type="submit" value="Отправить" class="form-modal__input btn-send"/>
      </form>
    </div>
  </div>
</div>