
<div class="container">
  <div id="conditions" class="info_rent">
    <h2>Rental conditions</h2>
    <h5>All customers must accept the following conditions below</h5>
    <p><a href="#">Who can rent</a></p>
    <ul>
      <li>People 21 or over 21 years old.</li>
      <li>Persons Owning an International Certificate of Driving License.</li>
      <li>The tenant must present the valid driver's license and valid id card (international passport).</li>
    </ul>
    <p><a href="#">Who can drive</a></p>
    <ul>
      <li>A rented car can only be operated by the tenant, it is forbidden to transfer the rented car for the management of any third party, or to unauthorized persons.</li>
      <li>Renting a car is forbidden to drive under the influence of alcohol or drugs.</li>
    </ul>
    <p><a href="#">Operation of cars - renting and returning a car</a></p>
    <ul>
      <li>The car can be picked up or left only in pre-agreed destinations.</li>
      <li>The car can be picked up at Tbilisi International Airport or in any other place in Tbilisi.</li>
      <li>If the tenant wants to install another destination in order to pick up or rent a car, it must be pre-agreed with the company's representatives.</li>
      <li>The condition of the car should be clean, technically the same as before the rent. The fuel level in the gas tank must remain the same as before the lease.</li>
      <li>The car must be returned strictly within 24 hours. In case of a delay of less than an hour, the company will levy a rent of 20% of the cost of a one-day car lease. If more than one hour but less than 3 hours, the lessor will be charged 50% of the daily rent, if more than 3 hours the lessor will be charged the full amount of rent in one day.</li>
      <li>Mandatory deposit is $ 100. Taken as insurance if there are fines or other violations of the contract. Upon delivery of the car to the lender, if there are no violations, the pledge is returned.</li>
    </ul>
    <p><a href="#">Insurance</a></p>
    <ul>
      <li>Vehicles are completely insured by a tenant's franchise.</li>
      <li>In case of car damage, if the tenant cannot establish the cause of the breakdown (damage) (for example: the breakdown occurred when the car was parked and was not in the field of view of the tenant), in such case, the tenant's franchise will be $ 50.</li>
      <li>In case of the car accident, the rented car should not move from the accident site.</li>
      <li>In case of car accident, the lessee shall not release the other party involved in the accident.</li>
      <li>The tenant must cooperate with the police and the company-owner of the car, otherwise the full cost of the damage will be retained from the tenant.</li>
    </ul>
  </div>
</div>