
<div class="container">
  <div id="conditions" class="info_rent">
    <h2>условия проката</h2>
    <h5>все клиенты должны принять нижеуказанные условия</h5>
    <p><a href="#">Кто может арендовать</a></p>
    <ul>
      <li>Люди, 21 года или старше 21 года.</li>
      <li>Особы, владеющие водительским удостоверением международного образца.</li>
      <li>Арендатор должен предъявить действующее водительское удостоверение и действующую id карту (международный паспорт).</li>
    </ul>
    <p><a href="#">Кто может водить</a></p>
    <ul>
      <li>Арендованным автомобилем может управлять только арендатор, запрещается передавать арендованное авто для управления какому-либо третьему лицу, или посторонним лицам.</li>
      <li>Арендованным автомобилем запрещается управлять под воздействием алкоголя или наркотиков.</li>
    </ul>
    <p><a href="#">Эксплуатация машин – сдача в аренду и возврат авто</a></p>
    <ul>
      <li>Автомобиль можно забрать или оставить только в заранее согласованных пунктах назначения.</li>
      <li>Автомобиль можно забрать в Тбилисском международном аэропорту или в любом другом месте в Тбилиси.</li>
      <li>Если арендатор хочет установить другой пункт назначения для того, чтобы забрать или отдать авто, он должен быть предварительно согласован с представителями компании.</li>
      <li>Состояние автомобиля должно быть чистым, технически таким же, как и до сдачи в аренду. Уровень горючего в бензобаке должен оставаться тем же, что и до аренды.</li>
      <li>Автомобиль должен быть возвращен строго в течение 24 часов. В случае задержки менее чем на час компания будет взимать арендную плату 20% от стоимости однодневной аренды автомобиля. Если более одного часа, но менее 3 часов, арендодателю будет начислено 50% от дневной арендной платы, если более 3 часов арендодателю будет начислена полная сумма арендной платы за один день.</li>
      <li>Мы предлагаем услугу нулевого депозита, поэтому в случае потери некоторых частей автомобиля или возвращения автомобиля в состоянии загрязнения или с меньшим количеством топлива арендатор будет обязан предоставить дополнительную сумму денег в пункте назначения.</li>
    </ul>
    <p><a href="#">Страхование</a></p>
    <ul>
      <li>Автомобили полностью застрахованы франшизой арендатора.</li>
      <li>В случае повреждения автомобиля, если арендатор не может установить причину поломки (повреждения) (к примеру: поломка произошла, когда авто было припарковано и не находилось в поле зрения арендатора) в таком случае франшиза арендатора составит 50$.</li>
      <li>В случаи автомобильной аварии арендованное авто не должно  перемещаться с места аварии.</li>
      <li>В случаи автомобильной аварии арендатор не должен освобождать другую сторону, участвовавшею в аварии.</li>
      <li>Арендатор должен сотрудничать с полицией и компанией-владельцем авто, в противном случае с арендатора будет удержана полная стоимость повреждений.</li>
    </ul>
  </div>
</div>