
<div id="slider" class="container main_slider">
  <h2>Все дороги ведут в Грузию</h2>
  <div class="slider">
    <div class="slide1">
      <div class="slider_img"><img src="../img/Tbilisi.jpg" alt="slide 1"/></div>
      <div class="slider_text">
        <h4>Старый Тбилиси</h4>
      </div>
    </div>
    <div class="slide2">
      <div class="slider_img"><img src="../img/gruziya-goru.jpg" alt="slide 2"/></div>
      <div class="slider_text">
        <h4>Великие горы</h4>
      </div>
    </div>
    <div class="slide3">
      <div class="slider_img"><img src="../img/Mirskiy-zamok.jpg" alt="slide 3"/></div>
      <div class="slider_text">
        <h4>Мирский замок</h4>
      </div>
    </div>
    <div class="slide4">
      <div class="slider_img"><img src="../img/Tbilisi-modern.jpg" alt="slide 4"/></div>
      <div class="slider_text">
        <h4>Современный Тбилиси</h4>
      </div>
    </div>
  </div>
</div>